@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 150, 150, 150;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 250, 250, 250;
    --background-end-rgb: 150, 150, 150;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to right,
      rgb(var(--background-end-rgb)),
      transparent,
      transparent,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 1rem;
  background: rgb(150, 150, 150);
}

#footer a {
  text-decoration: underline;
}

#header {
  text-align: center;
  background: rgb(150, 150, 150);
  padding-bottom: 1vh;
}

#header h1 {
  font-size: 2rem;
}

#header nav button {
  margin-left: 5vw;
  margin-right: 5vw;
}

#body h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1vh;
  margin-top: 1vh;
}

#newPostForm {
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 5vw;
  background: rgb(150, 150, 150);
}

#newPostForm button {
  border-width: 2px;
  margin: 2px;
}

#newPostForm img {
  width: 25%;
  height: 25%;
}

#TOC {
  margin-left: 15%;
  margin-right: 15%;
}

#chapter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background: rgb(250, 250, 250);
  border: 2px;
  border-style: solid;
  border-color: rgb(20, 20, 20);
  padding: 10px;
  width:100%;
  margin-bottom: 1vh;
}

#chapter #title {
  font-size: 2vh;
}

#chapter #date {
  align-self: flex-end;
  font-size: 1.5vh;

}

@media only screen and (max-width: 600px) {
  /* Insert any mobile-specific CSS here */
}